<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_134KO.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_134KO.Settings>
            <setting name="MinHealthPercent" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="MinManaPercent" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseHealthPotion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseManaPotion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedHealthHotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedManaHotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Attack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActiveTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RangeArcherDontChangeTarget" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseArcherWolfSkill" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedArcherWolfSkillHotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="UseRangeArcherSkill1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRangeArcherSkill2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRangeArcherSkill3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRangeArcherSkill4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRangeArcherSkill5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRangeArcherSkill6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedRangeArcherSkill1Hotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedRangeArcherSkill2Hotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedRangeArcherSkill3Hotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedRangeArcherSkill4Hotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedRangeArcherSkill5Hotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedRangeArcherSkill6Hotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="UseMeleeArcherSkill1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMeleeArcherSkill2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMeleeArcherSkill3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMeleeArcherSkill4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMeleeArcherSkill5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMeleeArcherSkill6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedMeleeArcherSkill1Hotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedMeleeArcherSkill2Hotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedMeleeArcherSkill3Hotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedMeleeArcherSkill4Hotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedMeleeArcherSkill5Hotkey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedMeleeArcherSkill6Hotkey" serializeAs="String">
                <value>-1</value>
            </setting>
        </_134KO.Settings>
    </userSettings>
</configuration>