<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_ArventoF.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="_134KO.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <_ArventoF.Settings>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fiyat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="beklemeSuresi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dosyaYolu" serializeAs="String">
                <value/>
            </setting>
            <setting name="yapYapma" serializeAs="String">
                <value>0</value>
            </setting>
        </_ArventoF.Settings>
        <_134KO.Settings>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fiyat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="beklemeSuresi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dosyaYolu" serializeAs="String">
                <value/>
            </setting>
        </_134KO.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
